<div class="dropdown mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Lọc
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/admin/products/history?id={{this.id}}&show=top-5">Top 5 thay đổi</a>
        <a class="dropdown-item" href="/admin/products/history?id={{this.id}}&show=all">Tất cả thay đổi</a>
    </div>
</div>

<div style="background-color: white">
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Thời điểm ra giá</th>
            <th scope="col">Giá tại thời điểm</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.products}}
            <tr>
                <th scope="row">{{No}}</th>
                <td>{{ThoiDiemThayDoiGia}}</td>
                <td>{{GiaTaiThoiDiem}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
