<div class="card">
  <h4 class="card-header">
    Profile
  </h4>
  <div class="card-body">
    <h5 class="card-title">Họ tên: {{user.HoTenKhachHang}}</h5>
    <p class="card-text">Tên đăng nhập: {{user.TenDangNhap}}</p>
    <p class="card-text">Số điện thoại: {{user.SoDienThoaiKhachHang}}</p>
    <p class="card-text">Ngày sinh: {{user.NgaySinhKhachHang}}</p>
    <p class="card-text">Địa chỉ: {{user.DiaChiKhachHang}}</p>
    <p class="card-text">Điểm tích lũy: {{user.DiemTichLuyKhachHang}}</p>
  </div>
</div>